* {
    /*box-shadow: none !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
    text-shadow: none !important;*/
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    /*font-weight: 400;*/
}

input, select {
    padding: 4px !important;
    /*width: 65% !important;*/
    display: inline-block !important;
}

input, textarea {
    background-image: none !important;
    border: 1px solid #ccc !important;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

select {
    font-size: 13px !important;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

input {
    &[type='radio'], &[type='checkbox'] {
        margin: 0 0 0 !important;
        margin-right: 5px !important;
        line-height: 23px !important;
        border: 0 !important;
    }
}

body {
    font-size: 13px;
    line-height: 23px;
    color: #666;
    background: #111;
    padding-top: 45px;
    -webkit-font-smoothing: antialiased;

    .container {
        width: 97%;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }
}

h1, h2, h3, h4, h5, h6 {
    padding: 2px 0;
    margin: 2px 0;
    color: #777;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 23px;
    line-height: 33px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 28px;
}

h6 {
    font-size: 15px;
    line-height: 25px;
}

p {
    padding: 1px 0 !important;
    margin: 1px 0 !important;
}

a {
    color: #333;
    text-decoration: none !important;

    &:hover {
        color: #888;
        text-decoration: none;
    }

    &:hover, &:focus, &:active {
        outline: 0;
    }
}

hr {
    margin: 8px 0 8px 0 !important;
    padding: 0 !important;
    border-top: 0;
    border-bottom: 1px solid #ddd !important;
    height: 0;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.btn {
    background-image: none !important;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 13px !important;
}

.bold {
    font-weight: 600;
}

a.btn {
    font-size: 13px !important;
}

.btn, .modal, .modal-dialog, .modal-content, input, select {
    border-radius: 0 !important;
}

.blightblue, .bblue {
    border: 0 !important;
    color: #fff !important;

    h2, h3, h4, h5, h6 {
        color: #fff !important;
    }

    a {
        color: #eee !important;

        &:hover {
            color: #ddd !important;
        }
    }
}

.blightblue {
    background: #52b9e9 !important;
}

.bblue {
    background: #1171a3 !important;
}

.modal-header {
    padding-top: 7px;
    padding-bottom: 7px;
}

.mainbar {
    position: relative;
    margin-left: 230px;
    margin-right: 0;
    width: auto;
    background: #fff;
    min-height: 900px;

    .container {
        width: 100%;
        padding: 0 !important;
    }
    
    .matter {
        border-top: 0px solid #ddd;
        margin: 2em;
    }
}

.widget {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #fff;

    hr {
        margin: 4px 0;
        padding: 4px 0;
        border-top: 0;
        border-bottom: 1px solid #ddd;
    }

    .table {
        margin: 0;
        width: 100%;
    }

    .table-bordered {
        border: 0;

        th, td {
            border-bottom: 1px solid #ccc !important;

            &:first-child, &:first-child {
                border-left: 0;
            }
        }

        td {
            border-top: 0 !important;
        }
    }

    .padd {
        padding: 15px;
    }

    .widget-head {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        color: #777;
        font-size: 18px;
        padding: 12px 15px;

        .widget-icons {
            i {
                font-size: 14px;
                margin: 0 4px;
            }

            a {
                color: #aaa;

                &:hover {
                    color: #888;
                }
            }
        }
    }

    .widget-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .widget-foot {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-top: 0;
        padding: 8px 15px;
        font-size: 13px;
        color: #555;
    }

    /* Widget colors */
    &.wblue, &.wlightblue {
        .widget-head {
            color: #fff;
            border: 1px solid #000;

            .widget-icons {
                a {
                    color: #fff;

                    &:hover {
                        color: #eee;
                    }
                }
            }
        }
    }

    &.wlightblue .widget-head {
        background-color: #52b9e9;
        border-color: #52b9e9;
    }

    &.wblue .widget-head {
        background-color: #1171a3;
        border-color: #1171a3;
    }
}

@media (max-width: 767px) {
    body {
        margin: 0 auto;
        
        .container {
            width: 95%;
            padding-left: 2.5%;
            padding-right: 2.5%;
        }
    }

    .content {
        margin-left: -20px;
        margin-right: -20px;
    }

    .mainbar {
        margin: 0;
        float: none;
        
        .matter {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .mainbar {
        margin-left: 200px;
    }
}