* {
    /*box-shadow: none !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
    text-shadow: none !important;*/
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    /*font-weight: 400;*/
}

input, select {
    padding: 4px !important;
    /*width: 65% !important;*/
    display: inline-block !important;
}

form * {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

input, textarea {
    background-image: none !important;
    border: 1px solid #ccc !important;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

select {
    font-size: 13px !important;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

input {
    &[type='radio'], &[type='checkbox'] {
        margin: 0 0 0 !important;
        margin-right: 5px !important;
        line-height: 23px !important;
        border: 0 !important;
    }
}

.btn {
    background-image: none !important;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 13px !important;

    &.btn-form-md {
        margin: 0 .5em .2em .5em;
        width: 9em;
    }
    &.btn-mini {
        font-size: 11px !important;
    }
}

body {
    font-size: 13px;
    line-height: 23px;
    color: #666;
    background: #111;
    padding-top: 45px;
    -webkit-font-smoothing: antialiased;

    .container {
        width: 97%;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }
}

h1, h2, h3, h4, h5, h6 {
    padding: 2px 0;
    margin: 2px 0;
    color: #777;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 23px;
    line-height: 33px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 28px;
}

h6 {
    font-size: 15px;
    line-height: 25px;
}

p {
    padding: 1px 0 !important;
    margin: 1px 0 !important;
}

a {
    color: #333;
    text-decoration: none !important;

    &:hover {
        color: #888;
        text-decoration: none;
    }

    &:hover, &:focus, &:active {
        outline: 0;
    }
}

hr {
    margin: 8px 0 8px 0 !important;
    padding: 0 !important;
    border-top: 0;
    border-bottom: 1px solid #ddd !important;
    height: 0;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}



.bold {
    font-weight: 600;
}

.navbar * {
    background-image: none !important;
    text-shadow: none !important;
}

.well {
    padding: 10px 15px;
}

a.btn {
    font-size: 13px !important;
}

.label {
    font-weight: 400;
    padding: 3px 6px !important;
    font-size: 13px;
}

.control-label{
    font-weight: 400 !important;
    font-size: 14px;
}

.badge {
    font-weight: 400;
    padding: 3px 8px;
    font-size: 13px;
}

.progress {
    height: 17px;
    line-height: 17px;
    margin: 5px 0 !important;
    border: 0;

    .bar {
        font-size: 12px;
    }
}

.btn, .badge, .modal, .modal-dialog, .modal-content, input, select {
    border-radius: 0 !important;
}



/* Button colors */
.btn {
    &.btn-primary {
        background: #1171a3 !important;

        &:hover {
            background: #0f608b !important;
        }
    }

    &.btn-info {
        background: #52b9e9 !important;

        &:hover {
            background: #459fc9 !important;
        }
    }

    &.btn-success {
        background: #43c83c !important;

        &:hover {
            background: #36a530 !important;
        }
    }

    &.btn-warning {
        background: #f88529 !important;

        &:hover {
            background: #d67323 !important;
        }
    }

    &.btn-danger {
        background: #fa3031 !important;

        &:hover {
            background: #d82829 !important;
        }
    }
}

/* Label colors */
.label, .badge {
    &.label-success,
    &.badge-success {
        background: #43c83c !important;
    }

    &.label-warning,
    &.badge-warning {
        background: #f88529 !important;
    }

    &.label-important,
    &.badge-important {
        background: #fa3031 !important;
    }

    &.label-info,
    &.badge-info {
        background: #52b9e9 !important;
    }
}

/* Background colors */
.blightblue, .bblue, .bgreen, .bred, .borange, .bviolet {
    border: 0 !important;
    color: #fff !important;

    h2, h3, h4, h5, h6 {
        color: #fff !important;
    }

    a {
        color: #eee !important;

        &:hover {
            color: #ddd !important;
        }
    }
}

.blightblue {
    background: #52b9e9 !important;
}

.bblue {
    background: #1171a3 !important;
}

.bgreen {
    background: #43c83c !important;
}

.borange {
    background: #f88529 !important;
}

.bred {
    background: #fa3031 !important;
}

.bviolet {
    background: #932ab6 !important;
}

/* Text colors */
.lightblue {
    color: #52b9e9 !important;
}

.blue {
    color: #1171a3 !important;
}

.green {
    color: #43c83c !important;
}

.orange {
    color: #f88529 !important;
}

.red {
    color: #fa3031 !important;
}

.violet {
    color: #932ab6 !important;
}



/* Modal */
.modal-header {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Form */
form {
    margin: 10px;

    input, button, textarea, select {
        font-size: 13px !important;
    }

    label {
        font-size: 13px;
        line-height: 13px;
    }
}

.form-inline button {
    margin-left: 15px;
}

.form-horizontal {
    .control-label {
        width: 90px;
    }

    .controls {
        margin-left: 110px;

        &:first-child {
            *padding-left: 100px;
        }
    }

    .form-actions {
        padding-left: 110px;
    }
}

.form-actions {
    padding: 5px 20px 5px;
    background: transparent;
    border-top: 0;
}

/* Back to top */
.totop {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 104400;
    background: #fa3031;
    display: none;

    a, a:visited {
        display: block;
        width: 30px;
        height: 30px;
        color: #fff;
        text-align: center;
        line-height: 30px;
    }

    a:hover {
        color: #eee;
        text-decoration: none;
    }
}

/* Half column - Todo: CHECK LATER */
.col-left {
    width: 48%;
    float: left;
}

.col-right {
    width: 48%;
    float: right;
}

/* Dropdown menu */
.dropdown-big {
    .dropdown-menu {
        min-width: 250px;
        padding: 8px 10px;
        background: #fff;

        p {
            margin: 1px 0;
            padding: 1px 0;
            font-size: 12px;
            line-height: 18px;
        }

        a {
            font-size: 13px;
            line-height: 23px;
            background: transparent;
            padding: 0;
            color: #444 !important;
            display: inline;

            &:hover {
                color: #777 !important;
                background: transparent !important;
            }
        }

        .drop-foot {
            text-align: center;

            a {
                font-size: 12px !important;
            }
        }

        hr {
            padding: 0;
            margin: 8px 0;
            border-top: 0 solid #aaa;
            border-bottom: 1px solid #eee;
        }

        h5 {
            color: #666 !important;
            line-height: 18px;
            font-weight: bold;
            font-size: 13px;
        }
    }
}

.dropdown-menu {
    background: #fff;
    border-radius: 0;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    a:hover, a:focus {
        filter: none !important;
        background: #fff !important;
    }

    &::after, &::before {
        border: none !important;
    }

    li {
        color: #777;
        font-size: 13px;
        line-height: 18px;

        > a {
            color: #555;
            line-height: 23px !important;

            &:hover {
                background: #f9f9f9 !important;
                filter: none;
                color: #888;
            }
        }
    }
}

/* Navbar */
.navbar {
    background: #000;

    .container {
        width: 97% !important;
    }

    .nav > li > a {
        font-size: 13px !important;
        color: #fff !important;
    }

    i {
        margin-right: 3px;
    }

    .caret {
        border-top-color: #fff !important;
        border-bottom-color: #fff !important;
    }

    .nav-user-pic {
        width: 20px;
        margin-right: 10px;
    }

    .badge {
        margin-left: 5px;
    }
}

/* Sidebar */
.sidebar {
    width: 230px;
    float: left;
    display: block;
    background: #111;
    color: #eee;
    position: relative;

    hr {
        border-bottom: 1px solid #333 !important;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            list-style-type: none;
        }
    }

    .sidebar-inner {
        display: block;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        z-index: 60;
        background: #111;
    }

    .navi {
        li {
            i {
                margin-right: 5px;
            }

            span i {
                margin: 0;
            }

            ul {
                display: none;
                background: #181818;

                li {
                    a {
                        display: block;
                        background: none;
                        padding: 10px 0;
                        padding-left: 30px;
                        text-decoration: none;
                        color: #999;
                        border-bottom: 1px solid #222;

                        &:hover {
                            background: #131313;
                            border-bottom: 1px solid #222;
                        }
                    }

                    &.active a {
                        background: #131313;
                        border-bottom: 1px solid #222;
                    }
                }
            }

            &.open ul {
                display: block;
            }
        }

        > li {
            > a {
                display: block;
                padding: 12px 20px;
                font-size: 15px;
                line-height: 25px;
                color: #fff;
                text-decoration: none;
                border-bottom: 1px solid #222;
                background-color: #111;
            }

            > a:hover, &.open > a {
                border-bottom: 1px solid #222;
                background-color: #222;
                color: #fff;
            }

            /* Sidebar colors */

            &.nlightblue > a:hover,
            &.open.nlightblue > a,
            &.current.nlightblue > a {
                background: #52b9e9 !important;
                transition: background 0.5s ease;
            }

            &.nblue > a:hover,
            &.open.nblue > a,
            &.current.nblue > a {
                background: #1171a3 !important;
                transition: background 0.5s ease;
            }

            &.ngreen > a:hover,
            &.open.ngreen > a,
            &.current.ngreen > a {
                background: #43c83c !important;
                transition: background 0.5s ease;
            }

            &.norange > a:hover,
            &.open.norange > a,
            &.current.norange > a {
                background: #f88529 !important;
                transition: background 0.5s ease;
            }

            &.nred > a:hover,
            &.open.nred > a,
            &.current.nred > a {
                background: #fa3031 !important;
                transition: background 0.5s ease;
            }

            &.nviolet > a:hover,
            &.open.nviolet > a,
            &.current.nviolet > a {
                background: #932ab6 !important;
                transition: background 0.5s ease;
            }
        }
    }

    /* Sidebar dropdown */
    .sidebar-dropdown {
        display: none;

        * {
            text-decoration: none;
        }

        a {
            color: #ddd;
            background-color: #343434;
            padding: 6px;
            text-transform: uppercase;
            text-align: center;
            font-size: 13px;
            display: block;
            border-top: 1px solid #666;
            border-bottom: 1px solid #333;

            &:hover {
                text-decoration: none;
            }
        }
    }

    /* Sidebar widget */
    .sidebar-widget {
        padding: 10px 5px;
    }

    .ui-datepicker {
        width: 95%;
        margin: 0 auto;
        background: #111;
        color: #888;
        border: 0;
        padding: 0;
    }

    .ui-datepicker-header {
        background: #222;
        border: 1px solid #212121;
    }

    .ui-datepicker-prev:hover {
        background: transparent;
        border: 0;
        top: 2px !important;
        left: 2px !important;
    }

    .ui-datepicker-next:hover {
        background: transparent;
        border: 0;
        top: 2px !important;
        right: 2px !important;
    }

    .ui-state-default {
        background: #222;
        border: 0;
        text-align: center;
        color: #ccc;

        &:hover {
            background: #282828;
            color: #999;
        }
    }

    .ui-state-hightlight, .ui-state-active {
        background: #444;
    }
}

/* Main */
.mainbar {
    position: relative;
    margin-left: 230px;
    margin-right: 0;
    width: auto;
    background: #fff;
    min-height: 900px;

    .container {
        width: 100%;
        padding: 0 !important;
    }
}

/* Pagination*/
.pagination {
    margin: 10px 0 5px 0;

    ul > li {
        > a,
        > span {
            border: 1px solid #ccc;
            margin-right: 3px;
            padding: 3px 8px;
            background-color: #fff;
            color: #666;
        }

        > a:hover {
            color: #333;
            background: #fafafa;
        }
    }
}

/* Page head */
.mainbar {
    .page-head {
        padding: 15px 20px;
        border-bottom: 1px solid #fff;
    }

    .page-meta {
        font-size: 13px;
        line-height: 15px;
        margin-left: 2px;
        display: block;
    }
}

/* Matter */
.mainbar .matter {
    border-top: 0px solid #ddd;
    margin: 2em;
}

/* Widget */
.widget {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #fff;

    hr {
        margin: 4px 0;
        padding: 4px 0;
        border-top: 0;
        border-bottom: 1px solid #ddd;
    }

    .table {
        margin: 0;
        width: 100%;
    }

    .table-bordered {
        border: 0;

        th, td {
            border-bottom: 1px solid #ccc !important;

            &:first-child, &:first-child {
                border-left: 0;
            }
        }

        td {
            border-top: 0 !important;
        }
    }

    .padd {
        padding: 15px;
    }

    .widget-head {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        color: #777;
        font-size: 18px;
        padding: 12px 15px;

        .widget-icons {
            i {
                font-size: 14px;
                margin: 0 4px;
            }

            a {
                color: #aaa;

                &:hover {
                    color: #888;
                }
            }
        }
    }

    .widget-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .widget-foot {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-top: 0;
        padding: 8px 15px;
        font-size: 13px;
        color: #555;
    }

    /* Widget colors */
    &.wred, &.wblue, &.wlightblue, &.worange, &.wgreen, &.wviolet {
        .widget-head {
            color: #fff;
            border: 1px solid #000;

            .widget-icons {
                a {
                    color: #fff;

                    &:hover {
                        color: #eee;
                    }
                }
            }
        }
    }

    &.wred .widget-head {
        background-color: #fa3031;
        border-color: #fa3031;
    }

    &.wlightblue .widget-head {
        background-color: #52b9e9;
        border-color: #52b9e9;
    }

    &.wblue .widget-head {
        background-color: #1171a3;
        border-color: #1171a3;
    }

    &.wgreen .widget-head {
        background-color: #43c83c;
        border-color: #43c83c;
    }

    &.worange .widget-head {
        background-color: #f88529;
        border-color: #f88529;
    }

    &.wviolet .widget-head {
        background-color: #932ab6;
        border-color: #932ab6;
    }

    /* Widget white extras */
    .nav-tabs {
        margin-bottom: 5px;
        > li a {
            padding: 5px 10px;
        }
    }

    .tab-content {
        margin-bottom: 10px;
    }
}

/* Today datas */
.today-datas {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;

    li {
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 10px;
        padding: 1.5em 1em;
        background-color: #f8f8f8;
        background: #f8f8f8;
        border: 1px solid #ccc;
        max-width: 100%;
        text-align: center;

        .spark {
            margin-right: 10px;
        }

        .datas-text {
            font-size: 13px;
            padding: 7px 0 0 0;
            font-weight: normal;

            span {
                display: block;
                font-size: 24px;
                margin-bottom: 5px;
            }
        }

        i {
            font-size: 50px;
            margin-right: 10px;
        }

        .dial {
            margin-right: 10px !important;
        }
    }
}

/* Toggle button */
.toggle-button span {
    font-size: 13px !important;
}

/* Gallery */
.gallery img {
    max-width: 170px;
    margin: 5px;
}



/* Responsive */
@media (max-width: 480px) {
    .mainbar {
        .page-head h2 {
            float: none;
        }

        .bread-crumb {
            float: none;
            margin-top: 10px;
        }
    }

    .col-left {
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .col-right {
        width: 100%;
        float: none;
    }
}

@media (max-width: 767px) {
    body {
        margin: 0 auto;

        .container {
            width: 95%;
            padding-left: 2.5%;
            padding-right: 2.5%;
        }
    }

    .content {
        margin-left: -20px;
        margin-right: -20px;
    }

    .mainbar .matter {
        padding-left: 20px;
        padding-right: 20px;
    }

    .form-inline button {
        margin-left: 0;
    }

    .navbar {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .nav-collapse {
        .dropdown-big {
            .dropdown-menu {
                color: #bbb !important;
            }

            a {
                color: #ccc !important;
                padding-left: 0 !important;
                padding-right: 0 !important;

                &:hover {
                    color: #aaa !important;
                }
            }

            h5 {
                color: #eee !important;
            }
        }

        .dropdown-menu {
            padding: 10px 10px !important;

            a {
                color: #fff !important;

                &:hover {
                    background: transparent !important;
                }
            }

            hr {
                border-top: 0 solid #eee;
                border-bottom: 1px solid #333;
            }
        }
    }

    .sidebar {
        float: none;
        width: 100%;

        .sidebar-dropdown {
            display: block;
        }

        .sidebar-inner {
            display: none;
        }

        .sidebar-widget {
            text-align: center;
        }
    }

    .mainbar {
        margin: 0;
        float: none;
    }

    .today-datas {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .form { /*TODO: Is this right? Should this just be the form element?*/
        margin: 0 !important;
    }

    form {
        .control-group {
            margin: 0 !important;
        }

        .control-label {
            float: none !important;
            width: auto !important;
            text-align: left !important;
        }

        .controls {
            float: none !important;
            margin-left: 0 !important;
        }

        .form-actions {
            padding-left: 0 !important;
        }
    }

    .navbar {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .nav-collapse  {
        .dropdown-big {
            .dropdown-menu {
                color: #bbb !important;

                a {
                    color: #ccc !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;

                    &:hover {
                        color: #aaa !important;
                    }
                }

                h5 {
                    color: #eee !important;
                }
            }
        }

        .dropdown-menu {
            padding: 10px 10px !important;

            a {
                color: #fff !important;

                &:hover {
                    background: transparent !important;
                }
            }

            hr {
                border-top: 0 solid #eee;
                border-bottom: 1px solid #333;
            }
        }
    }

    .sidebar {
        width: 200px;
    }

    .mainbar {
        margin-left: 200px;
    }
}



/*#region Widgets */
/* maps */
.map iframe {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
/* maps ends */

/* Users starts */
.user {
    font-size: 12px !important;
    line-height: 20px !important;

    h6 {
        line-height: 17px !important;
    }

    img {
        max-width: 70px;
        margin-top: 10px;
    }

    .user-pic {
        float: left;
        width: 80px;
    }

    .user-details {
        margin-left: 85px;
    }

    .btn {
        font-size: 11px !important;
    }
}
/* Users ends */
/*#endregion */