* {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.btn, input, select {
    border-radius: 0 !important;
}

input, select {
    padding: 4px !important;
    display: inline-block !important;
}

form * {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

input, textarea {
    background-image: none !important;
    border: 1px solid #ccc !important;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

select {
    font-size: 13px !important;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 0 0 !important;
    margin-right: 5px !important;
    line-height: 23px !important;
    border: 0 !important;
}

.btn {
    background-image: none !important;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 13px !important;
}

body {
    font-size: 13px;
    line-height: 23px;
    color: #666;
    background: #111;
    padding-top: 45px;
    -webkit-font-smoothing: antialiased;

    .container {
        width: 97%;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }
}

h1, h2, h3, h4, h5, h6 {
    padding: 2px 0;
    margin: 2px 0;
    color: #777;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 23px;
    line-height: 33px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 28px;
}

h6 {
    font-size: 15px;
    line-height: 25px;
}

p {
    padding: 1px 0 !important;
    margin: 1px 0 !important;
}

a {
    color: #333;
    text-decoration: none !important;

    &:hover {
        color: #888;
        text-decoration: none;
    }

    &:hover, &:focus, &:active {
        outline: 0;
    }
}

.bold {
    font-weight: 600;
}

hr {
    margin: 8px 0 8px 0 !important;
    padding: 0 !important;
    border-top: 0;
    border-bottom: 1px solid #ddd !important;
    height: 0;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

a.btn {
    font-size: 13px !important;
}

.label {
    font-weight: 400;
    padding: 3px 6px !important;
    font-size: 13px;
}

/* colors */
.lightblue {
    color: #52b9e9 !important;
}
.blightblue {
    background: #52b9e9 !important;
}

.blue {
    color: #1171a3 !important;
}
.bblue {
    background: #1171a3 !important;
}

.green {
    color: #43c83c !important;
}
.bgreen {
    background: #43c83c !important;
}

.orange {
    color: #f88529 !important;
}
.borange {
    background: #f88529 !important;
}

.red {
    color: #fa3031 !important;
}
.bred {
    background: #fa3031 !important;
}

.violet {
    color: #932ab6 !important;
}
.bviolet {
    background: #932ab6 !important;
}

.blightblue, .bblue, .bgreen, .bred, .borange, .bviolet {
    color: #fff !important;
    border: 0 !important;

    h2, h3, h4, h5, h6 {
        color: #fff !important;
    }

    a {
        color: #eee !important;

        &:hover {
            color: #ddd !important;
        }
    }
}

/* Form */
form {
    margin: 10px;

    input, button, textarea, select {
        font-size: 13px !important;
    }

    label {
        font-size: 13px;
        line-height: 13px;
    }
}

/* Main */
.mainbar {
    position: relative;
    margin-left: 230px;
    margin-right: 0;
    width: auto;
    background: #fff;
    min-height: 900px;

    .container {
        width: 100%;
        padding: 0 !important;
    }

    .matter {
        border-top: 0px solid #ddd;
        margin: 2em;
    }
}

/* Gallery */
.gallery img {
    max-width: 170px;
    margin: 5px;
}

/* Responsive */
@media (max-width: 767px) {
    body {
        margin: 0 auto;

        .container {
            width: 95%;
            padding-left: 2.5%;
            padding-right: 2.5%;
        }
    }

    .content {
        margin-left: -20px;
        margin-right: -20px;
    }

    .mainbar {
        margin: 0;
        float: none;

        .matter {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .form {
        margin: 0 !important;
    }

    .mainbar {
        margin-left: 200px;
    }
}
/*#endregion */