html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: #FFF;
}

select > option {
    color: black;
}

small {
    font-size: 14px;
}

table {
    th > a {
        font-weight: bold;
    }
    th, td {
        text-align: left;
        vertical-align: middle;
    }
}
  
.nav, .panel-title a {
    cursor: pointer;
}

.ng-cloak {
    display: none !important;
}

.widget .padd {
    height: 12em;

    &.padd-tight {
        padding: 6px;
    }
}

.btn {
    margin-right: 4px;
    margin-left: 4px;

    > i {
        margin-right: 8px;
    }
}

.right {
    clear: right;
    float: right;
}

.input-group[class*='col-'] {
    width: 80%;
    margin: 0 1.5em;
}

.widget-content {
    padding: 1em;
    margin: 0;
    
    &.referrer {
        border-width: 0;
    }

    .padd:hover {
        cursor: pointer;
        color: white;
        background-color: #52b9e9;

        * {
            color: white;
        }
    }
}

.table-hover tbody tr:hover {
    > td, > th {
        cursor: pointer;
    }
}

a {
    cursor: pointer;
}

.shuffle-animation {
    &.ng-enter,
    &.ng-leave {
        position: relative;
    }

    &.ng-enter {
        transition: ease-out all 0.3s 0.4s;
        left: 2em;
        opacity: 0;

        &.ng-enter-active {
            left: 0;
            opacity: 1;
        }
    }

    &.ng-leave {
        transition: 0.3s ease-out all;
        left: 0;
        opacity: 1;

        &.ng-leave-active {
            left: 2em;
            opacity: 0;
        }
    }
}

.dissolve-animation {
    &.ng-hide-remove,
    &.ng-hide-add {
        position: fixed !important;
        display: inline !important;
        transition: 0.5s linear all;
    }

    &.ng-hide-remove.ng-hide-remove-active,
    &.ng-hide-add {
        opacity: 1;
    }

    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-remove {
        opacity: 0;
    }
}

#toast-container {
    .toast-top-full-width, .toast-bottom-full-width {
        > div {
            margin: 4px auto;
        }
    }
}

@media (max-width: 320px) {
    input,
    select {
        width: 85% !important;
    }

    textarea {
        width: 80%;
    }

    h3 {
        font-size: 1.5em !important;
        line-height: 1.2em !important;
    }

    .btn {
        margin: .2em;
        width: 7em;
    }
}