/**************************/
/* start customtheme.scss */
/**************************/
/* Users starts */
.user {
    font-size: 12px !important;
    line-height: 20px !important;

    h6 {
        line-height: 17px !important;
    }

    img {
        max-width: 70px;
        margin-top: 10px;
    }

    .btn {
        font-size: 11px !important;
    }
}
/* Users ends */
/************************/
/* end customtheme.scss */
/************************/


/*********************/
/* start styles.scss */
/*********************/
.avenger-name {
    font-size: 1.2em;
}

.avenger-thumb {
    margin: 0.1em !important;
    padding: 0.1em;
}
/*********************/
/* end styles.scss   */
/*********************/