/**************************/
/* start customtheme.scss */
/**************************/

/************************/
/* end customtheme.scss */
/************************/


/*********************/
/* start styles.scss */
/*********************/
.page-title-subtle {
    color: white;
}

.page-title {
    color: #EEE;
    margin-right: 12px;
}

/*********************/
/* end styles.scss   */
/*********************/